button {
    border-radius: 1.25rem;
    padding: .3125rem .9375rem;
    border: none;
    color: white;
    font-size: .75rem;
}

.gradient-button-1 {
    background-image: linear-gradient(to right, #03a6d2, #1e3e82)
}