:root {
    /*------------------------------
        BACKGROUND  
    -------------------------------*/
    --primary-color: #FFFFFF;
    --secondary-color: #0b1953;
    --third-color: #01012f;
    --dirty-white: #0202301A;



    /*------------------------------
        BACKGROUND  
    -------------------------------*/
    --parag-color: #0495c1;
    --text-var1: #F9636B;
    --text-black: #000000;
    --text-black2: #000000E6;
    --text-gray: #AAAAAA;

}